* {
  font-family: sans-serif;
}
html,body {
  margin: 0;
  height: 100%;
  background: linear-gradient(0deg, #08618a,#202d3f);
}

body > div {
  position: relative;
  top: 50px;
  width: 35%;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0 30px 30px 30px;
  margin: auto;
}

form > div {
  margin: 18px 0;
}
form > h2 { 
  font-size: 32px;
  text-align: center;
  margin-bottom: 10vh;
}

.labels {
  width: 35%;
  font-size: 17px;
  font-weight: normal;
  display: block;
  float: left;
}

.inputs {
  width: 55%;
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 30px;
  font-size: 15px;
}

.inputs:focus {
  outline: none;
  border: 2px solid #064663;
}
form > button {
  width: 50%;
  height: 40px;
  padding: 10px 0;
  display: grid;
  margin: auto;
  font-size: 18px;
  background-color: #064663;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

form > a {
  text-decoration: none;
  color: black;
  margin: 12px auto;
  display: block;
  text-align: center;
}
form > a:hover {
  cursor: pointer;
  color: #064663;
  display: block;
  text-align: center;
}
