:root {
  --main-color: rgb(248, 247, 247);
  --side-color: #e9edf3;
  --premiere-color: #202d3f;
  --seconde-color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--premiere-color);
}
::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

* {
  font-family: "Heebo", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
}

header {
  margin: 0;
  background-color: #202d3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

fieldset{

  border: none;
}
#about {
  position: relative;
  display: flex;
  align-items: center;
}

#log img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 70px;
  margin-left: 1rem;
}

#about ul {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.5rem;
  margin-left: 1em;
  align-items: center;
  padding-inline-start: 0;
}
#about > button {
  margin-left: 0.7em;
  font-size: 28px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  opacity: 1;
  transition: opacity 0.2s linear;
}

header ul li {
  list-style-type: none;
  cursor: pointer;
}

#subscription ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.5rem;
  align-items: center;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: white;
}

aside {
  margin: 0;
  padding: 0;
  width: 30%;
  max-width: 200px;
  background-color: var(--side-color);
  position: fixed;
  height: 100%;
  top: 80px;
  overflow: auto;
  transition: width 0.3s;
  overflow-y: hidden;
}

.show-sidebar {
  position: absolute;
  display: none !important;
}

.show-margin {
  margin-left: 0px;
}

aside a {
  vertical-align: middle;
  display: flex;
  color: var(--premiere-color);
  padding: 16px;
  text-decoration: none;
  outline: none;
}

aside a {
  vertical-align: middle;
  display: flex;
  color: var(--premiere-color);
  padding: 16px;
  text-decoration: none;
  outline: none;
}
aside a:last-child {
  margin: 50px 0 50px 0;
}

aside a.active {
  background-color: var(--premiere-color);
  color: var(--seconde-color);
}
aside a.active i {
  color: var(--seconde-color);
}

aside a:hover:not(.active) {
  background-color: #3282b863;
  color: var(--seconde-color);
}
aside a:last-child:hover {
  background-color: transparent;
  color: var(--seconde-color);
}

aside > div {
  height: 50px;
}
.dark_text {
  color: var(--premiere-color);
  padding-left: 10px;
}

.icons {
  vertical-align: middle;
  color: var(--premiere-color);
  font-size: 20px;
  width: 30px;
  text-align: center;
  margin: 0 10px 0 0;
}
.icons_user {
  display: block !important;
  font-size: 20px;
  text-align: center;
}
.icons_card {
  vertical-align: middle;
  color: var(--premiere-color);
  font-size: 30px;
  width: 30px;
  text-align: center;
}
.icons_retour {
  font-size: 30px;
  color: var(--premiere-color);
  margin-left: 2%;
}

section {
  transition: margin-left 0.5s;
  margin: 150px 0px 0px 200px;
}
section p {
  color: gray;
  position: relative;
  text-align: center;
  top: 100px;
}

.inputs {
  all: unset;
  font: 16px system-ui;
  color: var(--premiere-color);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

form > button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
svg {
  color: var(--premiere-color);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

form {
  border: 2px solid var(--premiere-color);
  width: 50%;
  max-width: 400px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 260px;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: auto;
}
.card__image_med {
  width: 100%;
  height: 75%;
}
.card__image_inf {
  width: 100%;
  height: 90%;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px;
  background-color: var(--premiere-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
  border-radius: 40px 0 0 0;
  background-color: var(--seconde-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  padding: 0;
}

.card__arc path {
  fill: var(--seconde-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.2em;
  color: var(--premiere-color);
}

.card__status {
  font-size: 0.8em;
  color: lightgray;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  overflow: hidden;
}

.card_btn {
  background-color: transparent;
  height: auto;
  color: var(--seconde-color);
  border: none;
  display: grid;
  margin: auto;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

@media (max-width: 625px) {
  .list {
    display: none !important;
  }
  /* body {
    overflow-y: hidden;
  } */
  #about {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15%;
  }
  #log {
    width: 45%;
  }
  #subscription {
    display: none;
  }

  aside {
    max-width: 100%;
    width: 100% !important;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  aside a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #main {
    margin: auto;
    margin-top: 127px;
  }

  .dropdown {
    display: block !important;
    margin-right: 2%;
    gap: 7%;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover,
  .dropdown:hover .dropbtn,
  .dropbtn:focus {
    background-color: var(--premiere-color);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: rgb(8, 139, 139);
  }

  .show {
    display: block;
  }
  /* end  */
}

.dropdown {
  display: none;
}

/* dark mode button */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  bottom: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--premiere-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1b262c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.display_non {
  display: none;
}

.card_quiz {
  color: var(--seconde-color);
  margin: auto;
  margin-top: 40px;
  width: 40%;
  background-color: var(--premiere-color);
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.btn_n {
  position: relative;
  margin: 30px 10px 0 0;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: var(--seconde-color);
  border: 1 px solid var(--seconde-color);
  font-size: 15px;
  text-transform: uppercase;
  color: var(--premiere-color);
  cursor: pointer;
}
.btn_n:hover {
  box-shadow: 0 0 20px rgba(10, 10, 10, 0.2);
}
.suiv {
  float: right;
}
.prec {
  float: left;
}
.choix {
  padding: 2px 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.choix input + label {
  display: inline;
  color: var(--seconde-color);
  cursor: pointer;
  font-size: 16px;
  position: relative;
  padding-left: 24px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.choix input {
  margin: 0 4px 0 0;
  line-height: normal;
  size: 12px;
  display: none;
}
.choix input + label:before,
.choix input + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.choix input + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.1em #ddd, inset 0 0 0 1em white;
}
.choix input + label:hover:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}
.choix input:checked + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #064663;
}
